<h1>Log in</h1>

<form [formGroup]="form">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input
      id="login"
      class="form-control"
      [class.is-invalid]="loginControl.dirty && loginControl.hasError('required')"
      formControlName="login"
    />
    @if (loginControl.dirty && loginControl.hasError('required')) {
      <div class="invalid-feedback">Login is required</div>
    }
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      id="password"
      class="form-control"
      type="password"
      [class.is-invalid]="passwordControl.dirty && passwordControl.hasError('required')"
      formControlName="password"
    />
    @if (passwordControl.dirty && passwordControl.hasError('required')) {
      <div class="invalid-feedback">Password is required</div>
    }
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="authenticate()">Log me in!</button>
  @if (authenticationFailed()) {
    <div class="alert alert-danger">Nope, try again.</div>
  }
</form>
